.login {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;

  &Left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &Form {
      height: 90%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;

      h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 2px;
        margin-bottom: 10px;
      }

      p {
        color: #636364;
        font-size: 14px;
      }

      &Login {
        margin-top: 30px;
        width: 60%;
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        a {
          width: 100%;
          button {
            width: 100%;
          }
        }

        p {
          align-self: center;

          span {
            color: #3f50b5;

            a {
              text-decoration: none;
              color: #3f50b5;
            }
          }
        }
      }
    }
  }

  &Right {
    width: 50%;
    height: 100%;
    background-image: url("../../images//todoli.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .login {
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;

    &Left {
      width: 100%;

      &Form {
        height: 90%;
        width: 70%;

        h1 {
          font-size: 24px;
        }

        p {
          color: #636364;
          font-size: 10px;
        }

        &Login {
          margin-top: 10px;
          width: 90%;
          height: 70%;
        }
      }
    }

    &Right {
      display: none;
    }
  }
}
